site-adm-pages-markdownform {
	--tab-normal-clr-bkg: #666;
	--tab-normal-clr-txt: #FFF;
	--tab-normal-clr-border: #000;
	--tab-hover-clr-bkg: #888;
	--tab-hover-clr-txt: #FFF;
	--tab-hover-clr-border: #000;
	--tab-sel-clr-bkg: #777;
	--tab-sel-clr-txt: #FFF;
	--tab-sel-clr-border: #000;

	/* MarkDown Form */

	& {
		display: flex;
		flex-direction: row;
		gap: 1em;
	}

	& .formContainer {
		flex: 1;
	}

	& .options {
		transition: width 400ms;
		width: 40px;
	}

	&:has([aria-selected="true"]) .options {
		width: 400px;
	}

	/* Tabs */

	& .mdTabs {
		display: flex;
		flex-direction: row-reverse;
		gap: 1em;
	}

	& .mdTabs > div[role="tablist"] {
		display: flex;
		flex-direction: column;
	}

	& .mdTabs > div[role="tablist"] > div {
		cursor: pointer;
		min-width: 2em;
		writing-mode: vertical-lr;
		padding: 0.5em;
		font-size: 1.3em;
		font-weight: bold;
		background-color: var(--tab-normal-clr-bkg);
		color: var(--tab-normal-clr-txt);
		border: 1px solid var(--tab-normal-clr-border)
	}

	& .mdTabs > div[role="tablist"] > div[aria-selected="true"] {
		background-color: var(--tab-sel-clr-bkg);
		color: var(--tab-sel-clr-txt);
		border: 1px solid var(--tab-sel-clr-border)
	}

	& .mdTabs > div[role="tablist"] > div:hover {
		background-color: var(--tab-hover-clr-bkg);
		color: var(--tab-hover-clr-txt);
		border: 1px solid var(--tab-hover-clr-border)
	}

	& .mdTabs > div[se-elem="panelGroup"] {
		padding: 5px;
		overflow: auto;
		flex: 1;
	}

	& .mdTabs > div[se-elem="panelGroup"] > div[aria-hidden="true"] {
		display: none;
	}

	/*  */

	& .tabTitle {
		font-size: 2em;
		font-weight: bold;
		margin-bottom: 0.5em;
	}

	& summary {
		font-size: 1.3em;
		padding: 0;
		font-weight: bold;
		cursor: pointer;
	}

	& .markdDownFormTextArea {
		display: block;
		height: 70vh;
		width: 100%;
		font-family: Courier, Consolas, monospace;
		font-size: 1.6rem;
		line-height: 1.3;
		border-width: 2px;
	}

	/* FF lack of has */
	@supports not selector(:has(a, b)) {
		& .options {
			width: 400px;
		}
	}
}