/* Image picker */

site-adm-pages-image-picker { display:block; height:85%; }
site-adm-pages-image-picker > .window { height:100%; }
site-adm-pages-image-picker > .window[aria-hidden="true"] { display:none; }

site-adm-pages-image-picker .photoPicker { display:flex; flex-direction:column; gap:1em; }
site-adm-pages-image-picker .photo_new { display:flex; flex-direction:row; gap:2em; align-items:center; padding:1em; border:1px solid #000; border-radius:3px; }
site-adm-pages-image-picker .photo_current { flex:1; display:flex; flex-direction:column; gap:1em; }
site-adm-pages-image-picker .photo_current_nav { flex:1; display:flex; flex-direction:row; gap:2em; }

site-adm-pages-image-picker .photo_gal { display:flex; flex-direction:column; gap:1em; flex:1; }
site-adm-pages-image-picker .photo_nav { width:250px; }

site-adm-pages-image-picker .photo_galObjs { overflow:auto; max-height:420px; }

site-adm-pages-image-picker .photo_sel { flex:0; min-height:420px; width:250px; position:sticky; }
site-adm-pages-image-picker .photo_sel .content { display:none; }
site-adm-pages-image-picker .photo_sel img { width:100%; max-width:100%; max-height:250px; display:block; margin:0 auto 10px; }
site-adm-pages-image-picker .photo_sel .title { display:block; font-weight:bold; }
site-adm-pages-image-picker .photo_sel .desc { color:#666; }
site-adm-pages-image-picker .photo_sel .props { color:#999; }

site-adm-pages-image-picker .photoElements { flex:1; }
site-adm-pages-image-picker .photoElements > div[data-type="container"] { display:grid; grid-gap:10px; grid-template-columns:repeat(auto-fill, 172px); margin-bottom:20px; }


site-adm-pages-image-picker .galObj {
	--object-bkg-n:#FFF;
	--object-txt-n:#111;
	--object-txt-2-n:#333;
	--object-bkg-h:#F5F5F5;
	--object-txt-h:#111;
	--object-border:#CCC;
	--object-image:#CCC;
}

@media (prefers-color-scheme: dark) {
	site-adm-pages-image-picker .galObj {
		--object-bkg-n:#333;
		--object-txt-n:#EEE;
		--object-txt-2-n:#DDD;
		--object-bkg-h:#444;
		--object-txt-h:#DDD;
		--object-border:#CCC;
		--object-image:#444;
	}
}

site-adm-pages-image-picker .galObj { padding:5px; border:1px solid var(--object-border); background-color:var(--object-bkg-n); color:var(--object-txt-n); border-radius:3px; float:left; cursor:pointer; }
site-adm-pages-image-picker .galObj:hover { background-color:var(--object-bkg-n); color:var(--object-txt-n) }
site-adm-pages-image-picker .galObj img { height:160px; width:160px; object-fit:scale-down; display:block; background-color:var(--object-image); margin-bottom:10px; }
site-adm-pages-image-picker .galObj .title { display:block; clear:both; font-weight:bold; }
site-adm-pages-image-picker .galObj .props { display:block; clear:both; color:var(--object-txt-2-n); }
/*
Nueva Imagen
------------------> */
site-adm-pages-image-picker .modLeft { display:block; float:left; margin-right:20px; }
site-adm-pages-image-picker #st_newPrevInfo { display:none; }
site-adm-pages-image-picker #site_phAdd_filePrev { max-width:200px; max-height:100px; float:right; }
site-adm-pages-image-picker #site_phAdd_progInfo .data { display:inline-block; margin:0 10px 0 0; color:#666; font-size:0.9em; }
site-adm-pages-image-picker #photo_canvas { background-color:#DDD; min-height:485px; min-width:575px; flex:1; margin-right:10px; }
site-adm-pages-image-picker #win_photo_filters { margin-bottom:10px; }
site-adm-pages-image-picker .photo_cont { display:inline-flex; background-color:#fff; border:1px solid #999; border-radius:3px; color:#666; height:26px; padding:5px; width:200px; }
site-adm-pages-image-picker .photo_cont .photo_paste { margin-left:5px; height:100%; flex-grow:1; }
site-adm-pages-image-picker .photo_table { border-collapse:collapse; box-sizing:border-box; width:100%; }
site-adm-pages-image-picker .photo_table td { padding:3px; }
site-adm-pages-image-picker .photo_table input { width:40px; }
/*
Editar imagen
------------------> */
site-adm-pages-image-picker .site_phEdit_imgCont { display:block; width:575px; height:485px; float:left; background-color:#BBB; }
site-adm-pages-image-picker .site_phEdit_imgCont img { max-height:100%; max-width:100%; }
/*
*/
site-adm-pages-image-picker #photoNav { font-size:1.4rem; min-width:85vw; }

site-adm-pages-image-picker .photoNavFullWindow {
	--photo-container-bkg:#AAA;
	--photo-container-txt:#000;
}

@media (prefers-color-scheme: dark) {
	site-adm-pages-image-picker .photoNavFullWindow {
		--photo-container-bkg:#444;
		--photo-container-txt:#FFF;
	}
}

site-adm-pages-image-picker .photoNavFullWindow { display:flex; gap:20px; width:100%; height:100%; padding:10px; background-color:var(--photo-container-bkg); color:var(--photo-container-txt); z-index:10001; box-sizing:border-box; font-size:1.4rem; }
site-adm-pages-image-picker .photoNavFullWindow .section:not(:first-child) { margin-top:20px; }
site-adm-pages-image-picker .photoNavFullWindow .subElTitle { margin-bottom:20px; font-weight:bold; font-size:1.4em; }
site-adm-pages-image-picker .photoNavFullWindow .bar { display:flex; gap:20px; justify-content:space-between; overflow:auto; margin-bottom:20px; }
site-adm-pages-image-picker .photoNavFullWindow .bar .title { font-size:1.7em; font-weight:bold; }
site-adm-pages-image-picker .photoNavFullWindow .bar .close { display:block; position:relative; overflow:auto; }
site-adm-pages-image-picker .photoNavFullWindow .bar .close button { float:right; background-color:#DDD; color:#000; padding:5px; border-radius:3px; }
site-adm-pages-image-picker .photoNavFullWindow .imgCont { flex:1; }
site-adm-pages-image-picker .photoNavFullWindow .imgCont img { max-width:100%; max-height:100%; }
site-adm-pages-image-picker .photoNavFullWindow canvas { width:100%; height:100%; background-image:linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%); background-size:20px 20px; background-position:0 0, 0 10px, 10px -10px, -10px 0px; }
site-adm-pages-image-picker .photoNavFullWindow .imgEdit { width:250px; }
site-adm-pages-image-picker .photoNavFullWindow .photoCropLims { margin-bottom:10px; }
site-adm-pages-image-picker .photoNavFullWindow .photoCropLims .btn { background-color:#DDD; }
site-adm-pages-image-picker .photoNavFullWindow .photoCropLims .btn[aria-selected="true"] { background-color:#BBB; }
site-adm-pages-image-picker .photoNavFullWindow input { width:100%; }
site-adm-pages-image-picker .photoNavFullWindow .photo_cont { width:100%; }
site-adm-pages-image-picker .photoEditor [aria-hidden="true"] { display:none; }