/* Articles */
.tagList { display:block; min-height:50px; }
.tagList .tag { display:inline-flex; padding:5px; border-radius:3px; background-color:#EEE; color:#222; }
.tagList .tag .icon { margin-left:5px; }
.tagList .tag:hover { background-color:#F5F5F5; }