.site_adm_gallery {}
.site_adm_gallery .photo { display:flex; padding:10px; }
.site_adm_gallery .photo .options { visibility:hidden; }
.site_adm_gallery .photo:hover { background-color:#EEE; }
.site_adm_gallery .photo:hover .options { visibility:visible; }
.site_adm_gallery .photo > img { display:block; width:160px; height:160px; object-fit:scale-down; background-color:#FAFAFA; margin-right:20px; }
.site_adm_gallery .photo > div { flex:1; }
.site_adm_gallery .photo input { margin-bottom:10px; }
.site_adm_gallery .photo input,.site_adm_gallery .photo textarea { width:100%; border-radius:2px; border:1px solid #CCC; }

/* Para subir imagernes */
.site_adm_gallery .previewPhotos { display:block; }
.site_adm_gallery .previewPhotos img { display:block; width:160px; margin-bottom:10px; }