.socialShareBkg {}
.socialShareWindow { position:fixed; display:block; padding:40px; z-index:9999; }
.socialShareLinks { display:grid; gap:20px; grid-template-columns: repeat(4, 1fr); margin-bottom:20px; }
.socialShareLinks > a { display:block; padding:20px; border-radius:3px; font-size:20px; }
@media only screen and (max-width:480px) {
	.socialShareLinks { grid-template-columns: repeat(2, 1fr); }
}