uber-adm-pages-system-console #adm_console { padding:5px; border:1px solid #888; border-radius:2px; }
uber-adm-pages-system-console #adm_console .content { display:block; margin-bottom:10px; padding:3px; background-color:#EEE; color:#000; height:450px; overflow-y:scroll; font-family:monospace; white-space:pre-wrap; }
uber-adm-pages-system-console #adm_console form { display:block; }
uber-adm-pages-system-console #adm_console input { display:block; width:100%; border:0; padding:3px; outline: none; background-color:#F5F5F5; }
uber-adm-pages-system-console input:focus { outline: none; }