#tableMod {
	--color-bkg:#FFF;
	--color-txt:#000;
}
@media (prefers-color-scheme: dark) {
	#tableMod {
		--color-bkg:#404040;
		--color-txt:#DDD;
	}
}

#se_tableData div[se-elem="elemListSelect"] { display:grid; grid-gap:2px; grid-auto-rows:1fr; grid-template-columns:1fr 1fr 1fr; }
#se_tableData div[se-elem="elemListSelect"] label { display:block; padding:4px; cursor:pointer; -ms-user-select:none; -webkit-user-select:none; -moz-user-select:none; }
#se_tableData div[se-elem="elemListSelect"] label:hover { background-color:#EEE; }

#sa_form_query textarea { width:100%; height:50px; }
#sa_form_query label { display:block; margin-bottom:10px; }
#tableMod tr[aria-hidden="true"] { display:none; }

#tableContainer { max-height:300px; overflow-y:scroll; margin-bottom:20px; }
#tableMod thead th { background-color:var(--color-bkg); color:var(--color-txt); }