/* */

uber-adm-pages-sql-direct-query form { display:flex; flex-direction:column; gap:1em; }
uber-adm-pages-sql-direct-query .qTableContainer { width:100%; overflow:auto; max-height:70vh; }
uber-adm-pages-sql-direct-query .qTable { color:#000; }
uber-adm-pages-sql-direct-query .qTable, .qTable th, .qTable td { border:1px solid #CACACA; }
uber-adm-pages-sql-direct-query .qTable thead { background-color:#FFF; }
uber-adm-pages-sql-direct-query .qTable thead th { padding:5px; text-align:center; }
uber-adm-pages-sql-direct-query .qTable tbody { background-color:#FFFFFF; }
uber-adm-pages-sql-direct-query .qTable tbody td { background-color:#FFFFFF; padding:3px; vertical-align:top; }