
#se-admin-template {
	display:flex;
	min-height:100vh;
	width:100%;
	height:auto;
	flex-direction:column;

	& .template-top-bar {
		display:flex;
		justify-content: space-between;
		flex-direction: row;
		background:var(--color-main-03-norm-n);
		color:var(--color-main-03-comp-n);
		font-size:2.0rem;
		height:50px;

		& a {
			color:inherit;
		}
		& a:hover {
			background:var(--color-main-03-norm-h);
			color:var(--color-main-03-comp-h);
		}
	}

	& .template-top-bar-menu-left {
		display: inline-flex;
		& a {
			display: flex;
			justify-content: center;
			align-items: center;
			aspect-ratio: 1;
			height: 100%;
		}
	}
	& .template-top-bar-menu-right {
		display: inline-flex;

		.se_menu_simple {
			font-size: 1.5rem;
		}
	}

	.template-body {
		display:flex;
		flex-direction:row;
		flex:1;
	}

	.template-vertical-menu {
		background-color:var(--color-main-04-norm-n);
		color:var(--color-main-04-comp-n);
	}


	.template-vertical-menu-nav {
		display: block;
		font-size: 2.0rem;

		a {
			display: block;
			color:inherit;
			padding: 15px;
		}

		& a:hover {
			background:var(--color-main-04-norm-h);
			color:var(--color-main-04-comp-h);
		}

		.title { display: none; }
	}

	.template-vertical-menu[aria-expanded="true"] {
		.title { margin-left: 0.5em; display: inline; font-size: 0.9em; font-weight: bold; }
	}


	.template-site-name {

	}


	.template-content { display:flex; flex-direction:column; flex:1; overflow:auto; }
	/* Body */
	#se_main { flex:1; }
	.template-footer { overflow:auto; clear:both; text-align:center; padding:10px 0; border-top:1px solid #CCC; }

}