/* Photo */
#obj_settings_photo {}
#obj_settings_photo .action { display:none; width:300px; margin:0 auto; }
#obj_settings_photo .action[data-active="1"] { display:block; }
#obj_settings_photo .userDisplay { display:block; width: 180px; height: 180px; border-radius:3px; border:10px solid #EEE; margin:0 auto 20px; }
#obj_settings_photo .action[data-name="photoAdjust"] { width:auto; margin:0; }
#obj_settings_photo .photoCrop { width:300px; margin:0 auto; }
#obj_settings_photo .cropImage { width:800px; height:800px; }
#obj_settings_photo canvas { width:100%; height:100%; }