/* */
.se_ajaxSimple {
    & .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 10px;
        overflow: auto;
        margin-bottom: 10px;
    }

    & .advFilter {
        & div.cFilterValue {
            display: flex;
            background-color: #CCC;
            color: #000;
        }

        & div.cFilterValue span {
            flex: 1;
            padding: 5px;
        }

        & div.cFilterValue button {
            background-color: #AAA;
            color: #FFF;
        }

        & div.cFilterValue button:hover {
            background-color: #999;
        }

        & div[se-elem="optionList"] {
            margin-top: 10px;
        }

        & div[se-elem="optionList"] div {
            background-color: #EEE;
            padding: 5px 10px;
            cursor: pointer;
        }

        & div[se-elem="optionList"] div:hover {
            background-color: #DDD;
        }

        & label[data-filtered="0"] div.cFilterValue {
            display: none;
        }

        & label[data-filtered="1"] input,
        & label[data-filtered="1"] textarea,
        & label[data-filtered="1"] select,
        & label[data-filtered="1"] div[se-elem="optionList"] {
            display: none;
        }
    }

    & .tableContainer {
        overflow-y: auto;
    }

    /* - INI:TABLAS - */

    & .topMenu {

        & .filterAdvanced {
        }

        & .topNavigation {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 10px;
        }

        & .topNavigation .navs {
            display: flex;
            gap: 5px;
            font-size: 1.6rem;
        }

        & .topNavigation .tabBtn {
            color: var(--color-accent);
            border-radius: 4px;
            padding: 0 6px;
            font-size: 1.2em;
        }

        & .topNavigation .tabBtn:hover {
            background-color: #F5F5F5;
        }

        & .topNavigation input {
            width: 40px;
            text-align: right;
        }

    }
}