/* default for colors */

/* Login conditions */
body[data-userlogin="0"] .login_required, body[data-userlogin="1"] .login_exceded { display:none !important; }

/* Icon implementation */
svg.icon { display:block; vertical-align:sub; fill:currentColor; height:1em; width:1em; }
svg.icon.inline { display:inline-block; }
svg.icon.inline.mr { margin-right:0.5em; }
svg.icon.inline.ml { margin-left:0.5em; }
svg.spin { animation:spin 2s infinite linear; }
svg.spin-pulse { animation:spin 1s infinite steps(8); }
svg.pulsate { animation:pulsate 1s infinite; }
@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}
@keyframes pulsate {
	0% { opacity:0; transform:scale(0.1, 0.1); }
	50% { opacity:1; }
	100% { opacity:0; transform:scale(1.2, 1.2); }
}
/* LOAD BAR */
.loadBar { display:block; position:relative; height:3px; margin-bottom:2px; background-color:#DDD; }
.loadBarStat { display:block; position:absolute; height:3px; width:1%; background-color:var(--color-accent); }
/* FullTitle */
.fullTitle { font-weight:bold; margin:0; padding:0; }
/* LoadMore */
.btn_loadMore { border:#BBB 1px dashed; padding:10px; clear:both; cursor:pointer; text-align:center; margin-top:10px; }
.btn_loadMore:hover { background-color:#EEE; }


/* - INI:GENERICOS - */
.gOFL { float:left; }
.gOFR { float:right; }
.gOFLMR { float:left; margin-right:10px; }
.gOFRML { float:right; margin-left:10px; }
.gOLink { cursor:pointer; }
.gOML { margin-left:10px; }
.gOMR { margin-right:10px; }
.gOMT { margin-top:10px; }
.gOMB { margin-bottom:10px; }
.gOCL { clear:left; }
.gOCB { clear:both; }
.gODB { display:block; overflow:auto; }
.gODN { display:none; }
.gOPic { width:160px; height:120px; display:block; background-color:#CCC; }
.gOClPos { top:0; left:0; right:0; bottom:0; margin:0; padding:0; border:0; }
img.rz { display:block; max-width:100%; }
.gOImg { display:block; max-width:100%; margin-bottom:10px; }
.gOImg.center { margin-left:auto; margin-right:auto; }
.gOImg.left { float:left; }
.gOImg.right { float:right; }
.gOFSS {}
.gOBSBB { box-sizing:border-box; }
.split_menu { display:flex; justify-content:space-between; }
.fTAFull { box-sizing:border-box; width:100%; padding:0; border:0; margin:5px; }
.fTABox { border:1px solid #CCC; padding:5px; }
.centered { display:block; margin-left:auto; margin-right:auto; }

/* Estilos */
/* -END:GENERICOS- */

/* - INI:BOTONES - */
.btn { cursor:pointer; display:inline-block; text-align:center; vertical-align:middle; white-space:nowrap; border:1px solid transparent; background-image:none; border-radius:4px; padding:6px 12px; }
.btn i.fa { font-weight:normal; }

.snb_facebook { background-color:#3B5998; color:#FFF !important; }
.snb_facebook:hover { background-color:#5177b7; color:#FFF !important; }
.snb_twitter { background-color:#00ACEE; color:#FFF !important; }
.snb_twitter:hover { background-color:#00bdff; color:#FFF !important; }
.snb_google { background-color:#CC3732; color:#FFF !important; }
.snb_google:hover { background-color:#E74B37; color:#FFF !important; }
.snb_whatsapp { background-color:#4CEC66; color:#FFF !important; }
.snb_whatsapp:hover { background-color:#53ff6d; color:#FFF !important; }
.snb_linkedin { background-color:#4875B4; color:#FFF !important; }
.snb_linkedin:hover { background-color:#5a90de; color:#FFF !important; }
.snb_reddit { background-color:#CEE3F8; color:#000 !important; }
.snb_reddit:hover { background-color:#CEE3F8; color:#FFF !important; }
.snb_pinterest { background-color:#BD0A1D; color:#FFF !important; }
.snb_pinterest:hover { background-color:#f20b24; color:#FFF !important; }
.snb_envelope { background-color:#666; color:#FFF !important; }
.snb_envelope:hover { background-color:#888; color:#FFF !important; }
/* -END:BOTONES- */


/* - END:VENTANAS - */


.se_separated_elements_row { display:flex; flex-direction:column; gap:10px; }

/* Navigation */
.se_nav { overflow:auto; }
.se_nav li { list-style:none; display:block; float:left; }
.se_nav li a { display:block; }
.se_nav .subMenu { position:absolute; visibility:hidden; }
.se_nav .subMenu.right { right:0; }
.se_nav li:hover > .subMenu { visibility:visible; }
.se_nav.vertical li { float:none; }

/* */
.videoWrapper { position:relative; aspect-ratio:16 / 9; width:100%; }
.videoWrapper iframe, .videoWrapper object, .videoWrapper video, .videoWrapper embed { position:absolute; top:0; left:0; width:100%; height:100%; border:0; padding:0; margin:0; }

/* - INI:MENUS SUPERIORES - */
.se_menu_top { display:flex; gap:20px; margin-bottom:10px; justify-content:space-between; }
.se_menu_top a { display:inline-block; }
.se_menu_top a:hover { text-decoration:underline; }
.se_menu_top a:not([href]) { text-decoration:none; }
.se_menu_top .breadcrumbs { flex:1; display:flex; flex-wrap:wrap; gap:10px; }
.se_menu_top .breadcrumbs a:not(:first-child):before { margin-right:10px; content:'›'; color:#000; }
.se_menu_top .breadcrumbs a:hover:before { text-decoration:none; }
.se_menu_top .normal { flex:1; display:flex; flex-wrap:wrap; gap:15px; justify-content:flex-end; }

/* -- END:MENUS SUPERIORES */

/* - INI:Redes sociales - */
.media { display:flex; align-items:flex-start; }
.media .icon { margin-right:20px; }
.media .content { flex:1; }
/* -- END:Redes sociales */

/* Banners */
.se_banner { max-width:100%; }
.se_banner img, .se_banner video { display:block; max-width:100%; margin:0 auto; }

/* Barra herramientas edición página */
.codeEditor { display:block; width:100%; box-sizing:border-box; white-space:pre-wrap; font-family:Consolas, monospace; min-height:300px; padding:10px; }

.textAreaCounter { text-align:right; }
/* fakeCheck*/
.fakeCheck { display:inline-block; height:1.5em; width:1.5em; position:relative; background:#FFF; color:#000; border:1px solid #333; border-radius:2px; }
.fakeCheck::after { content:"na"; display:flex; align-items:center; justify-content:center; align-content:center; font-weight:bold; height:100%; width:100%; }
.fakeCheck.s0::after, .fakeCheck[data-value="0"]::after { content:"✗"; }
.fakeCheck.s1:after, .fakeCheck[data-value="1"]::after { content:"✓"; }
/* */
.container_simple { white-space:pre-wrap; }
/* Editable Object */

.se_editableObject { position:fixed; display:flex; top:100px; left:-300px; z-index:10000; }
.se_editableObject.show { left:0; }
.se_editableObject .tab { padding:5px; background-color:#009; color:#FFF; }
.se_editableObject .tab button { color:#FFF; }
.se_editableObject .menu { border:3px solid #009; padding:10px; color:#222; background-color:#FFF; width:300px; min-height:100px; }
.se_editableObject .menuBtn { display:block; width:100%; text-align:left; border-radius:3px; margin-bottom:5px; padding:5px 10px; font-weight:bold; background-color:#00C; color:#FFF; }

/* - INI:Notification text - */
.notification { display:flex; overflow:auto; background:#DFDFDF; color:#444; padding:10px; margin:0 0 10px 0; border:1px #666 solid; border-radius:3px; }
.notification.light { background-color:#F0F0F0; border-color:#444; }
.notification.success { background-color:#a6ffa5; border-color:#0f0; }
.notification.info { background-color:#b7cfff; border-color:#335dff; }
.notification.warning { border-color:#F8FF00; background-color:#FBFF6E; }
.notification.alert { background-color:#ff7575; border-color:#f00; color:#222; }
.alert:empty, .success:empty, .warning:empty, .notification:empty, .description:empty { display:none; }

/* Iconos */
.notification > .icon { display:inline-flex; align-items:center; justify-content:center; border-radius:50%; height:40px; width:40px; padding:5px; background-color:#333; color:#fff; margin-right:10px; }
.notification > .icon > svg { width:24px; height:24px; fill:currentColor; }
.notification.success .icon { background-color:#019f0e; }
.notification.info .icon { background-color:#2335c1; }
.notification.warning .icon { background-color:#ffbe00; }
.notification.alert .icon { background-color:#c40003; }

/* Textos */
.notification .text { -ms-flex:1; flex:1; }
.notification .title { display:block; font-weight:bold; margin-bottom:5px; }
.notification .content { white-space:pre-wrap; }
.notification.html .content, .notification .content.html { white-space:normal; }
.notification .actions { display:flex; margin-top:5px; }
.notification .actions button { padding:5px 10px; border-radius:2px; }

.error { display:block; border:1px solid #900; padding:20px; margin:10px 0; }

.note { display:block; border:1px solid #111; }
.note > .title { display:block; padding:10px; border-bottom:1px solid #111; background-color:#000; color:#FFF; }
.note > .content { display:block; padding:10px; }