
/* - INI:FORMULARIOS - */
.se_form {
	--color-input-border-n:#CCC;
	--color-input-bkg-n:#FFF;
	--color-input-txt-n:#000;

	--color-input-border-req-valid:#CCC;
	--color-input-bkg-req-valid:#FFF;
	--color-input-bkg-req-not-valid:#FFDFDE;

	--color-radio-label-hover:#EEE;

	display:flex;
	flex-direction:column;
	gap:10px;
}

.se_form .title { display:block; font-weight:bold; margin-bottom:5px; }
.se_form .desc { display:block; color:#666; margin-bottom:5px; font-size:0.9em; }
.se_form .desc:empty { display:none; }
.se_form [data-required="1"] .title:after { content:"*"; color:#F00; margin:0 0 0 5px; }
.se_form.double .cont { width:30%; float:left; margin-right:10px;}

.se_form .separator, .se_form fieldset { display:block; }
.se_form .separator_simple { margin-bottom:10px; }
.se_form label, .se_form .header { display:block; text-align:left; }
.se_form label.checkbox { overflow:auto; cursor:pointer; padding:3px; border-radius:3px; }
.se_form .radioList label, .se_form label.radio { display:block; overflow:auto; padding:5px; border-radius:3px; cursor:pointer; margin-bottom:0; }
.se_form .radioList label:hover, .se_form label.radio:hover, .se_form label.checkbox:hover { background-color:var(--color-radio-label-hover); }
.se_form .radioList label input, .se_form label.radio input, .se_form label.checkbox input { float:left; margin-right:10px; }
.se_form .radioList label .cont, .se_form label.radio .cont, .se_form label.checkbox .cont { display:block; overflow:auto; }
.se_form .radioList.hidden label { padding:0; }
.se_form .radioList.hidden input { display:none; }
.se_form .radioList.hidden label .content { padding:10px 20px; }
.se_form .radioList.hidden input:checked + .content { background-color:#DDD; }
.se_form .radioList.short { display:flex; justify-content:space-between; }
.se_form input, .se_form textarea, .se_form select { box-sizing:border-box; width:100%; text-align:left; border-radius:3px; padding:5px; border:1px solid var(--color-input-border-n); background-color:var(--color-input-bkg-n); color:var(--color-input-txt-n); }
.se_form input:hover, .se_form textarea:hover, .se_form select:hover { background:var(--color-input-bkg-n); }
.se_form button { border-radius:3px; padding:5px; }
.se_form input:required:valid, .se_form textarea:required:valid { background-color:var(--color-input-bkg-req-valid); }
.se_form input:required:not(:empty):invalid, .se_form textarea:required:not(:empty):invalid { background-color:var(--color-input-bkg-req-not-valid); box-shadow:none; }
.se_form input:invalid:focus, .se_form textarea:invalid:focus, .se_form input:valid:focus, .se_form textarea:valid:focus { background:var(--color-input-bkg-n); }
.se_form input[type="color"] { width:22px; height:22px; padding:0; margin:0; border:0; }
.se_form input[type="range"] { margin:0; border:0; }
.se_form [type="submit"], .se_form [type="button"] { cursor:pointer; padding:8px 14px; border-bottom:1px solid rgba(0, 0, 0, 0.25); border-top:1px solid rgba(255, 255, 255, 0.25); background-color:#0066cc; color:#FFF; font-weight:bold; }
.se_form [type="submit"]:hover, .se_form [type="button"]:hover { background-color:#007AE8; }
.se_form [type="submit"]:active, .se_form [type="button"]:active { background-color:#0053A5; border-top:1px solid rgba(0, 0, 0, 0.25); border-bottom:1px solid rgba(255, 255, 255, 0.25); }
.se_form [type="submit"]:disabled { color:#CCC; background-color:#284E9C !important; }
.se_form [type="submit"] { margin-bottom:10px; }
.se_form [type="submit"] .fa { margin-right:5px; }
.se_form [type="submit"] .fa.pulsate { animation:pulsate 1s ease-out 0s normal none infinite running; }
.se_form .multiOps { display:block; overflow:auto; }
.se_form .multiOps input[type="checkbox"], .se_form .multiOps input[type="radio"] { clear:left; float:left; margin:0 5px 0 0; }
.se_form .multiOps label { float:left; font-weight:normal; }
.se_form .multiText { display:block; overflow:auto; }
.se_form .multiText label { display:inline-block; clear:left; float:left; font-weight:normal; width:130px; height:35px; margin:0 5px 0 0; }
.se_form .multiText input, .se_form .multiText select { float:left; margin:0 5px 0 0; width:200px; }
.se_form input[type="checkbox"], .se_form input[type="radio"], .se_form input[type="button"], .se_form input[type="submit"] { width:auto; }
.se_form .status { display:block; padding:5px 10px; margin:5px 0 0 0; color:#000; }
.se_form input:valid + .status { background:#EEFFEE; }
.se_form input:invalid + .status { background:#FFEEEE; }

.se_form .status:empty { display:none; }
.se_form input[type="submit"]:disabled, .se_form input[type="button"]:disabled, .se_form input[type="submit"]:disabled:hover, .se_form input[type="button"]:disabled:hover { cursor:default; background:#CCC; color:#EEE; }

/* Multiple components in single row as in input */
.modInput { display:flex; border-radius:3px; border:1px solid #CCC; }
.modInput > *:not(input) { padding:5px; background-color:#EEE; color:#000; }
.modInput > *:first-child { border:0; border-right:1px solid #CCC; border-bottom-left-radius:3px; border-top-left-radius:3px; border-bottom-right-radius:0; border-top-right-radius:0; }
.modInput > *:last-child { border:0; border-left:1px solid #CCC; border-bottom-right-radius:3px; border-top-right-radius:3px; border-bottom-left-radius:0; border-top-left-radius:0; }
.modInput > input { flex:1; border:0 !important; padding:3px; }
.modInput > button { background-color:#E5E5E5; color:#333; margin:0 !important; }
.modInput > button.dyn { color:#FFF; }
.modInput > button.dyn > i { margin-right:10px; }
.modInput > button.dyn.success { background-color:#00DB31 }
.modInput > button.dyn.fail { background-color:#BE0000 }
.modInput > button.dyn.warning { background-color:#F9F100; color:#555; }
.modInput > button.dyn.notif { background-color:#2937B5; }

/* tableLessForm */
.tabLessForm input, .tabLessForm textarea, .tabLessForm select, .tabLessForm .inputgroup { box-sizing:border-box; width:100%; padding:6px; border:1px solid #999; border-radius:2px; }
.tabLessForm input[type="checkbox"], .tabLessForm input[type="radio"], .tabLessForm input[type="button"], .tabLessForm input[type="submit"] { width:auto; }
.tabLessForm .elem { display:block; margin-bottom:10px; }
.tabLessForm .elem.radio label { display:inline-block; padding:5px; border-radius:3px; cursor:pointer; }
.tabLessForm .elem.radio label:hover { background-color:#EEE; }
.tabLessForm table.grid td { padding:3px; }
.tabLessForm input[type="button"], .tabLessForm [type="submit"] { padding:5px; background:#eee; border:1px solid #666; border-radius:3px; color:#000; cursor:pointer; }
.tabLessForm input[type="button"]:hover, .tabLessForm [type="submit"]:hover { background:#ddd; }
.tabLessForm .inputgroup { display:flex; align-items:center; }
.tabLessForm .inputgroup .first { display:table-cell; height:100%; vertical-align:middle; text-align:center; }
.tabLessForm .inputgroup .last { float:right; }
.tabLessForm .inputgroup input { flex:1; padding:0 6px; width:auto; display:block; border:0; }
/* - END:FORMULARIOS - */
