se-async-content {}
se-async-content > .isLoading { display:none; padding:10px; font-size:3rem; color:#000; }
se-async-content > .isLoading svg { margin:0 auto; }
se-async-content > button.loadMore { display:block; width:100%; background:none; border:1px solid #CCC; padding:20px; text-align:center; margin-top:20px; }
se-async-content[data-condition="loading"] > .isLoading { display:block; }
se-async-content[data-condition="loading"] > button.loadMore { display:none; }
se-async-content[data-condition="complete"] > .isLoading { display:none; }
se-async-content[data-condition="complete"] > button.loadMore { display:none; }