
/* - INI:Slider rotating banner capabilities - */
se-simple-slider { display:block; position:relative; overflow:visible; margin:0 0 10px 0; width:100%; padding-bottom:25.51%; height:0; }
se-simple-slider[animation="fade"] .container { position:absolute; overflow:auto; width:100%; height:100%; }
se-simple-slider[animation="fade"] .container > * { display:block; position:absolute; overflow:hidden; left:0; top:0; width:100%; height:100%; padding:0; transition:opacity 500ms; }
se-simple-slider[animation="fade"] .container > *[aria-hidden="true"] { opacity:1; z-index:1; }
se-simple-slider[animation="fade"] .container > *[aria-hidden="false"] { opacity:0; z-index:0; }
se-simple-slider[animation="scroll"] .container { position:absolute; overflow:auto; width:100%; height:100%; }
se-simple-slider[animation="scroll"] .container > * { display:block; position:absolute; overflow:hidden; left:0; top:0; width:100%; height:100%; padding:0; transition:opacity 500ms; }
se-simple-slider[animation="scroll"] .container > *[aria-hidden="true"] { opacity:1; z-index:1; }
se-simple-slider[animation="scroll"] .container > *[aria-hidden="false"] { opacity:0; z-index:0; }
se-simple-slider .container > * img { display:block; width:100%; height:auto; }
se-simple-slider .controls { display:none; z-index:3; position:absolute; top:215px; left:10px; border:#000 1px solid; background-color:rgba(255, 255, 255, 0.7); border-radius:5px; padding:2px; }

se-simple-slider .play_btn, se-simple-slider .prev_btn, se-simple-slider .next_btn { padding:0 3px; color:#000; }
se-simple-slider .play_btn { float:left; font-weight:bolder; border-right:1px #000 solid; margin:0 5px 0 0; padding-right:5px; }
se-simple-slider .prev_btn { float:left; }
se-simple-slider .next_btn { float:right; }
se-simple-slider .num_nav { text-align:center; float:left; padding:0 3px; margin:2px 0; }
se-simple-slider .num_nav ul li { display:inline; margin:0 2px; }
se-simple-slider .num_nav a { font-weight:bold; }
se-simple-slider .num_nav a.active, se-simple-slider .num_nav a:hover { border-radius:3px; background-color:rgba(0, 0, 0, 0.3); text-decoration:underline; }
se-simple-slider .btn_over { color:#fff; border:1px solid #fff; }
/* -- END:Slider */
