/* MarkDown Form */
.markdownForm {}
.markdownForm summary { padding:10px; font-weight:bold; cursor:pointer; }
.markdownForm .markdDownFormTextArea { display:block; margin-bottom:20px; height:75vh; width:100%; font-family:Courier, Consolas, monospace; font-size:1.6rem; line-height:1.3; }