/*
Galería imágenes
------------------> */
se-site-gallery-select .photo_gal { display:block; overflow:auto; }
se-site-gallery-select .photo_galObjs { overflow:auto; max-height:420px; }
se-site-gallery-select .photo_sel { flex:0; min-height:420px; width:190px; position:sticky; }
se-site-gallery-select .photo_sel .content { display:none; }
se-site-gallery-select .photo_sel img { max-width:100%; max-height:250px; display:block; margin:0 auto 10px; }
se-site-gallery-select .photo_sel .title { display:block; font-weight:bold; }
se-site-gallery-select .photo_sel .desc { color:#666; }
se-site-gallery-select .photo_sel .props { color:#999; }

se-site-gallery-select #photoElements > div[se-ajaxelem="content"] { display:grid; grid-gap:10px; grid-template-columns:repeat(auto-fill, 172px); margin-bottom:20px; }


se-site-gallery-select .galObj {
	--object-bkg-n:#FFF;
	--object-txt-n:#111;
	--object-txt-2-n:#333;
	--object-bkg-h:#F5F5F5;
	--object-txt-h:#111;
	--object-border:#CCC;
	--object-image:#CCC;
}

@media (prefers-color-scheme: dark) {
	se-site-gallery-select .galObj {
		--object-bkg-n:#333;
		--object-txt-n:#EEE;
		--object-txt-2-n:#DDD;
		--object-bkg-h:#444;
		--object-txt-h:#DDD;
		--object-border:#CCC;
		--object-image:#444;
	}
}

se-site-gallery-select .galObj { padding:5px; border:1px solid var(--object-border); background-color:var(--object-bkg-n); color:var(--object-txt-n); border-radius:3px; float:left; cursor:pointer; }
se-site-gallery-select .galObj:hover { background-color:var(--object-bkg-n); color:var(--object-txt-n) }
se-site-gallery-select .galObj img { height:160px; width:160px; object-fit:scale-down; display:block; background-color:var(--object-image); margin-bottom:10px; }
se-site-gallery-select .galObj .title { display:block; clear:both; font-weight:bold; }
se-site-gallery-select .galObj .props { display:block; clear:both; color:var(--object-txt-2-n); }
/*
Nueva Imagen
------------------> */
se-site-gallery-select .modLeft { display:block; float:left; margin-right:20px; }
se-site-gallery-select #st_newPrevInfo { display:none; }
se-site-gallery-select #site_phAdd_filePrev { max-width:200px; max-height:100px; float:right; }
se-site-gallery-select #site_phAdd_progInfo .data { display:inline-block; margin:0 10px 0 0; color:#666; font-size:0.9em; }
se-site-gallery-select #photo_canvas { background-color:#DDD; min-height:485px; min-width:575px; flex:1; margin-right:10px; }
se-site-gallery-select #win_photo_filters { margin-bottom:10px; }
se-site-gallery-select .photo_cont { display:inline-flex; background-color:#fff; border:1px solid #999; border-radius:3px; color:#666; height:26px; padding:5px; width:200px; }
se-site-gallery-select .photo_cont .photo_paste { margin-left:5px; height:100%; flex-grow:1; }
se-site-gallery-select .photo_table { border-collapse:collapse; box-sizing:border-box; width:100%; }
se-site-gallery-select .photo_table td { padding:3px; }
se-site-gallery-select .photo_table input { width:40px; }
/*
Editar imagen
------------------> */
se-site-gallery-select .site_phEdit_imgCont { display:block; width:575px; height:485px; float:left; background-color:#BBB; }
se-site-gallery-select .site_phEdit_imgCont img { max-height:100%; max-width:100%; }
/*
*/
se-site-gallery-select #photoNav { font-size:1.4rem; min-width:85vw; }

se-site-gallery-select .photoNavFullWindow {
	--photo-container-bkg:#AAA;
	--photo-container-txt:#000;
}

@media (prefers-color-scheme: dark) {
	se-site-gallery-select .photoNavFullWindow {
		--photo-container-bkg:#444;
		--photo-container-txt:#FFF;
	}
}

se-site-gallery-select .photoNavFullWindow { position:fixed; display:flex; gap:20px; width:100vw; height:100vh; padding:10px; background-color:var(--photo-container-bkg); color:var(--photo-container-txt); z-index:10001; box-sizing:border-box; font-size:1.4rem; }
se-site-gallery-select .photoNavFullWindow[aria-hidden="true"] { display:none; }
se-site-gallery-select .photoNavFullWindow .section:not(:first-child) { margin-top:20px; }
se-site-gallery-select .photoNavFullWindow .subElTitle { margin-bottom:20px; font-weight:bold; font-size:1.4em; }
se-site-gallery-select .photoNavFullWindow .bar { display:flex; gap:20px; justify-content:space-between; overflow:auto; margin-bottom:20px; }
se-site-gallery-select .photoNavFullWindow .bar .title { font-size:1.7em; font-weight:bold; }
se-site-gallery-select .photoNavFullWindow .bar .close { display:block; position:relative; overflow:auto; }
se-site-gallery-select .photoNavFullWindow .bar .close button { float:right; background-color:#DDD; color:#000; padding:5px; border-radius:3px; }
se-site-gallery-select .photoNavFullWindow .imgCont { flex:1; }
se-site-gallery-select .photoNavFullWindow .imgCont img { max-width:100%; max-height:100%; }
se-site-gallery-select .photoNavFullWindow canvas { width:100%; height:100%; background-image:linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%); background-size:20px 20px; background-position:0 0, 0 10px, 10px -10px, -10px 0px; }
se-site-gallery-select .photoNavFullWindow .imgEdit { width:300px; }
se-site-gallery-select .photoNavFullWindow .photoCropLims { margin-bottom:10px; }
se-site-gallery-select .photoNavFullWindow .photoCropLims .btn { background-color:#DDD; }
se-site-gallery-select .photoNavFullWindow .photoCropLims .btn[aria-selected="true"] { background-color:#BBB; }
se-site-gallery-select .photoNavFullWindow input { width:100%; }
se-site-gallery-select .photoNavFullWindow .photo_cont { width:100%; }
se-site-gallery-select .photoEditor [aria-hidden="true"] { display:none; }