
/* Calendar object */
.se_calendar { position:absolute; border:1px solid #CCC; background-color:#FFF; min-width:150px; z-index:10000; }
.se_calendar .cBut { padding:5px; background-color:#888; color:#FFF; }
.se_calendar .cBut:hover { background-color:#777; }
.se_calendar .full { flex:1; }
.se_calendar .main_control { display:flex; }
.se_calendar .main_control .date { padding:6px; text-align:center; background-color:#CCC; color:#000; font-weight:bold; }
.se_calendar .month_nav { display:flex; }
.se_calendar .calendar { width:100%; border-collapse:collapse; margin-bottom:10px; }
.se_calendar .calendar th { text-align:center; padding:5px; }
.se_calendar .calendar td { text-align:right; padding:5px; cursor:pointer; }
.se_calendar .calendar.notbefore .before {}
.se_calendar .calendar .day { user-select: none; }
.se_calendar .calendar .day.today { background-color:#B0D7F9; }
.se_calendar .calendar .day.past { background-color:#F5F5F5; color:#111; }
.se_calendar .calendar .day.adj-month { color:#AAA; background-color:#F0F0F0; }
.se_calendar .calendar .day.past.adj-month { color:#999; background-color:#EEE; }
.se_calendar .calendar td:nth-child(1), .se_calendar .calendar td:nth-child(7) { color:#555; }
.se_calendar .calendar .day.selected { background-color:#A5FFB0; }
.se_calendar .calendar .day.selected:hover { background-color:#42FF65; }
.se_calendar .calendar .day:hover { background-color:#BBB !important; }
.se_calendar .time { width:100%; margin-bottom:10px; }
.se_calendar .time > div { display:table; margin:0 auto; }
.se_calendar .time input { width:40px; }
.se_calendar .last_menu { display:flex; justify-content:center; margin-bottom:10px; }
.se_calendar .last_menu button { padding:5px; border-radius:3px; background-color:#EEE; }